<!DOCTYPE html>
<html>
<body>
    <h1>{{title.title}}</h1>
    <ul>
        {% for s in title.get_seasons() %}
            <li><a href="/title/{{title.id}}?season={{s}}">Season {{s}}</a></li>
        {% end %}
    </ul>
    <hr>
    <h2>Season {{season}}</h2>
    <ul>
        {% for e in title.get_episodes(season) %}
            <li><a href="/title/{{title.id}}?season={{season}}&episode={{e.episode}}">Episode {{e.episode}}</a></li>
        {% end %}
    </ul>
    <hr>
    <h2>Episode {{episode}}</h2>
    <form action="/play/{{title.id}}/s{{season}}/e{{episode}}">
        <select name="subtitles">
            <option value="-1">No subtitles</option>
            {% for e, s in enumerate(title.get_episode(season, episode).get_video().get_subtitles()) %}
                <option value="{{e}}">{{s.label}}</option>
            {% end %}
        </select>
        <input type="submit" value="Play">
    </form>
    <hr>
    <a href="/">Back to list</a>
</body>
</html>

