<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <ul class="navbar">
        <li><img class="navbar-icon" src="/tvfamily.svg" height="47"></li>
        {% for c in categories %}
            <li><a class="{{'navbar-active' if c.key == current else ''}}" href="/categories/{{c.key}}"><span>{{c.name}}</span></a></li>
        {% end %}
        <li style="float: right;"><a href="/settings"><span class="settings"/></a></li>
    </ul>
    <div class="content">
        <ul class="titles-list">
            {% if medias %}
                {% for m in medias %}
                    <li>
                        <a href="/title?category={{current}}&id={{m.title.name}}">
                            <img class="poster" src="{{m.title.poster_url}}">
                            <span>{{str(m)}}</span>
                        </a>
                    </li>
                {% end %}
            {% else %}
                <p>No titles in this category.</p>
            {% end %}
        </ul>
    </div>
</body>
</html>

