<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <ul class="navbar">
        <li><img class="navbar-icon" src="/tvfamily.svg" height="47"></li>
        <li style="float: right;"><a href="/categories/{{category}}"><span>Back</span></a></li>
    </ul>
    <div class="content">
        <h1 class="centered-title">{{title.name}}</h1>
        <div class="title-general">
            <img class="poster" width="182" height="268" src="{{title.poster_url}}"/>
            <div class="title-description">
                <div class="title-attributes">
                    <span>{{title.year}}</span>
                    <span class="sep">|</span>
                    <span>{{title.duration}}</span>
                    <span class="sep">|</span>
                    <span>{{', '.join(title.genre)}}</span>
                    <span class="sep">|</span>
                    <svg width="24" height="24">
                        <polygon points="11.96,1.46 9.21,10 0.25,9.97 7.51,15.22 4.72,23.74 11.96,18.46 19.21,23.74 16.41,15.22 23.67,9.97 14.72,10" style="fill:#f3ce13;stroke:black;stroke-width:0;fill-rule:all;" />
                    </svg>
                    <span class="rating">{{title.rating}}</span>
                </div>
                <p>{{title.plot}}</p>
                {% if video is not None %}
                    <span>Subtitles: {{', '.join([s.label for s in video.get_subtitles()])}}</span>
                {% else %}
                    <span>Subtitles: -</span>
                {% end %}
                {% if torrents is not None %}
                {% for t in torrents %}
                    <p>{{t.name}} {{t.seeders}} {{t.size}}</p>
                {% end %}
                {% end %}
            </div>
            <div>
                {% if video is not None %}
                    <a class="play-button" href="/play?category={{category}}&{{title.url_params_id}}&video={{video.path}}">Play</a>
                {% else %}
                    <a class="play-button" href="/">Download</a>
                {% end %}
            </div>
        </div>
    </div>
</body>
</html>

